<h1>Welcome to the Student Technology Collaborative</h1>
<h4>We need some information from you to open up a ticket for you in our system.</h4>

<form role="form" action="confirmation" method="post">
  <div class="panel panel-default">
  <div class="panel-body">
    <div class="col-md-6">
      <label>
        Your netid: 
        <input type='text' name='netid' />
      </label><br/>
      <label>
        First name: 
        <input type='text' name='first' />
      </label><br/>
      <label>
        Last name:
        <input type='text' name='last' />
      </label><br/>
      <label>
        Your Email Address: 
        <input type='email' name='from' />
      </label><br/>
<!--       <label>
        Your Gmail Username: 
        <input type='text' name='username' />
      </label><br/>
      <label>
        Your Gmail Password: 
        <input type='password' name='password' />
      </label><br/> -->
      <label>
        What kind of computer are you giving to us?<br/>
        If other, please include in problem and description. <br/>
        <select name='model'>
          <option value="Mac">Mac</option>
          <option value="Dell">Dell</option>
          <option value="Acer">Acer</option>
          <option value="Lenovo">Lenovo</option>
          <option value="Asus">Asus</option>
          <option value="Gateway">Mac</option>
          <option value="HP">HP</option>
          <option value="Sony">Sony</option>
          <option value="Samsung">Samsung</option>
          <option value="Toshiba">Toshiba</option>
          <option value="Other">Other</option>
        </select>
      </label><br/>
      <label>
        Cell phone number 
        <input type='tel' name='cell' />
      </label><br/>
    </div>
    <div class="col-md-6">
      <label>
        Summer session program name:
        <input type='text' name='program' /> 
      </label><br/>
      <label>
        Room number:
        <input type='text' name='room' /> 
      </label><br/>
      <label>
        Operating System:
        <select name='os'>
          <option value="OSX 10.6"> MAC: Snow Leapord</option>
          <option value="OSX 10.7">MAC: Lion</option>
          <option value="OSX 10.8">MAC: Mountain Lion</option>
          <option value="OSX 10.9">MAC: Mavericks</option>
          <option value="OSX 10.10">MAC: Yosemite</option>
          <option value="Windows XP">PC: Windows XP</option>
          <option value="Windows Vista">PC: Windows Vista</option>
          <option value="Windows 7">PC: Windows 7</option>
          <option value="Windows 8">PC: Windows 8</option>
          <option value="Windows 8.1">PC: Windows 8.1</option>
          <option value="Linux">PC: Linux </option>
        </select>
      </label><br/>
      <label>
        Serial Number: 
        <input type='text' name='serialnumber' /> 
      </label><br/>
      <label>
        A brief description of your problem: 
        <textarea name='problem' cols=70 rows=5 /></textarea>
      </label><br/>
    </div>
        </div>
  </div>
  <div class="col-md-12">
    <input class="btn btn-primary" type='submit' value='submit' />
  </div>
</form>