<div class="jumbotron">
  <h1>Student Technology Collaborative</h1>
  <p>We can fix your computer!</p>
  <p>You just have to sign in with your NetID first.</p>
  <p><a class="btn btn-primary btn-lg" role="button" href="/newticket">File A Help Request</a></p>
</div>