/*  body{
    padding-left: 2em;
    font-family: Georgia, "Times New Roman",
          Times, serif;
    color: purple;
  }*/
/*  form{
  font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
  color: blue;
  }
  p{
  font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif;
          font-size: 25pt;
          color: black;
  }*/
  body{
    /*background adapted from http://lea.verou.me/css3patterns/#stairs*/
    background: 
        linear-gradient(63deg, #E5F0FF 23%, transparent 23%) 7px 0, 
        linear-gradient(63deg, transparent 74%, #E5F0FF 78%), 
        linear-gradient(63deg, transparent 34%, #E5F0FF 38%, #E5F0FF 58%, transparent 62%), 
        #F5F0FF;
        background-size: 16px 48px;
  }