/*  body{
    padding-left: 2em;
    font-family: Georgia, "Times New Roman",
          Times, serif;
    color: purple;
  }*/
/*  form{
  font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
  color: blue;
  }
  p{
  font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif;
          font-size: 25pt;
          color: black;
  }*/
  body{
    background-color:#E5F0FF;
  }